<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Báo cáo doanh thu năm</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center text-danger">TRAVELL & GO </h1>
    <div>
        <table class="table">
            <h2 class="text-center bg-warning">Báo cáo doanh thu năm</h2>
            <div class="text-center bg-dark" style="font-size:25px">
                <a class="text-white">Năm:</a>
                <select class="border-0 bg-dark text-white">
                    <option>2020</option>
                </select>
            </div>
            <tr class="text-center">
                <th><p>STT</p></th>
                <th><p>Tháng</p></th>
                <th><p>Số chuyến bay</p></th>
                <th><p>Doanh thu</p></th>
                <th><p>Tỷ lệ</p></th>
            </tr>
            <tr class="text-center">
                <td style="width:10%">1</td>
                <td>gdfgd</td>
                <td>gfhfgh</td>
                <td>ghfgh</td>
                <td>ghfgjfgj</td>
            </tr>
        </table>
    </div>
</body>
</html>