{% extends 'base/base.html' %}

{% block body %}
    <div>
        <table class="table">
            <h2 class="text-center bg-warning">Báo cáo doanh thu năm</h2>
            <div class="text-center bg-dark" style="font-size:25px">
                <a class="text-white">Năm:</a>
                <select class="border-0 bg-dark text-white">
                    <option>2020</option>
                </select>
            </div>
            <tr class="text-center">
                <th><p>STT</p></th>
                <th><p>Tháng</p></th>
                <th><p>Số chuyến bay</p></th>
                <th><p>Doanh thu</p></th>
                <th><p>Tỷ lệ</p></th>
            </tr>
            <tr class="text-center">
                <td style="width:10%">1</td>
                <td>gdfgd</td>
                <td>gfhfgh</td>
                <td>ghfgh</td>
                <td>ghfgjfgj</td>
            </tr>
        </table>
    </div>
{% endblock %}