{% extends 'base/base.html' %}

{% block body %}
    <h2 class="text-center bg-warning" >Vé chuyến bay</h2>
    <form method="post" action="{{ url_for('vechuyenbay', id = chuyen_bay.id)}}" enctype="multipart/form-data">
        {% if err_msg %}
        <div class="alert alert-danger">
            <h2 class="text-center">{{ err_msg }}</h2>
        </div>
        {% endif %}
        <table class="table">
            <tr>
                <th style="width:10%">Chuyến bay:</th>
                <th class="border border-left-0 text-center" style="width:40%">{{ chuyen_bay.ma }}</th>
                <th style="width:10%">Hành khách:</th>
                <th>
                    <input type="text" placeholder="Nhập tên..." class="border-0 w-100 text-center" name="hanhkhach"/>
                </th>
            </tr>
            <tr>
                <th class="border border-right-0">CMND:</th>
                <th class="border border-left-0">
                    <input type="number" placeholder="Nhập CMND..." class="border-0 w-100 text-center" name="cmnd"/>
                </th>
                <th class="border border-right-0">Điện thoại:</th>
                <th class="border border-left-0">
                    <input type="number" placeholder="Nhập SĐT..." class="border-0 w-100 text-center" name="dt"/>
                </th>
            </tr>
            <tr>
                <th class="border border-right-0">Hạng vé:</th>
                <th class="border border-left-0">
                    <button class="btn btn-success ml-5" value="First Class" type="button"
                            onclick="showPrice('{{ price[0].price }}')" name="hang">First Class</button>
                    <button value="Second Class" class="btn btn-danger float-right mr-5" type="button"
                            onclick="showPrice('{{ price[1].price }}')" name="hang">Second Class</button>
                </th>
                <th class="border border-right-0">Giá tiền:</th>
                <th class="border border-left-0 text-center" id="price" name="price"></th>
            </tr>
        </table>
        <div class="mx-3">
        <input class="btn-primary px-5 py-2 float-right" value="Đặt vé" type="submit"/>
        </div>
    </form>
{% endblock %}